<div class="about">
    <h3>Here Is What Our ProGrads Have To Say</h3>
    <div class="container">
        <article>
            <img src="../../assets/download2.png" alt="Avatar">
            <p><span>PRAVESH, FSD0A0221</span> </p>
            <p>ProGrad is not like other online programming courses. It is entirely a self-learning journey. You can learn by doing. The practise sessions given in this program was very useful. My mentor motivated me and helped me to crack the aptitude round
                of Mphasis.</p>
        </article>
        <hr>
        <article class="art">
            <img src="../../assets/download2.png" alt="Avatar">
            <p><span>ROBIN HOODA, FSD0B0001</span></p>
            <p>Even if you're not strong with coding basics or programming concepts, this program is designed in such a way that you can enhance your skills. On top of that, it provides you with good placement opportunities. The program also helps improve
                your communication skills. I recommend this program to all my juniors.
            </p>
        </article>
    </div>
</div>