<div class="home">
    <div>
        <img src="../../assets/hero.png" class="image" alt="">
    </div>
    <h1>Hear It From Our </h1>
    <h1>ProGrads</h1>

    <p>Being a ProGrad is a life-time experience. In the past, we have several times tried showing the world what is to be a ProGrad. But,we soon realised that no one can better describe this journey than our ProGrads themselves</p>
    <p class="p2">So here we are with a mission to let the world hear it from our ProGrads!</p>
    <p class="p3">#ProudProGrads #YourDreamOurMission</p>
</div>